<div id="countdown"></div>
<script type="text/javascript">

  var countdown_html = document.getElementById("countdown");

function countdown() {

    var return_string = '';
    var today = new Date();
    var weddingDate = new Date(2022, 06, 29, 16);
    var ms = weddingDate - today;

    if (ms > 0) {
        var d = ms / (1000 * 60 * 60 * 24) | 0;
        var h = ms % (1000 * 60 * 60 * 24) / (1000 * 60 * 60) | 0;
        var m = ms % (1000 * 60 * 60) / (1000 * 60) | 0;
        var s = ms % (1000 * 60) / (1000) | 0;

        var timeParts = [d, h, m, s];
//        console.log(timeParts);
        var timeStringParts = new Array();
        var timeString = "";

        for (var i = 0; i < 4; i++) {

            switch (i) {
                case 0:
                    timeString = "d ";
                    break;
                case 1:
                    timeString = "h ";
                    break;
                case 2:
                    timeString = "m ";
                    break;
                case 3:
                    timeString = "s ";
                    break;
            }
            

        //    if (timeParts[i] > 1) {
          //      timeString += 's';
          //  }

            if (timeParts[i] > 0) {
                timeStringParts.push(timeParts[i] + timeString);
            }

        }

        for (var i = 0; i < timeStringParts.length - 1; i++) {

            return_string += timeStringParts[i];
        }

        return_string += (timeStringParts[timeStringParts.length - 1])

    } 
    else {
        return_string = "E' oggi!!!";
    }

    return return_string;
}

setInterval(function() {
countdown_html.innerHTML = '<p>' + countdown() + '</p>';
}, 1000);
</script>
</div>