{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  
  <link href="https://fonts.googleapis.com/css2?family=Sofia&display=swap" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&family=Sofia&display=swap" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet" type="text/css">

  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="pb3-m bg-black-30">
      {{ partial "site-navigation.html" . }}
      <div class="tc-ns pv6-m pv7-l ph3 ph4-ns">
        {{ if not .Params.omit_header_text }}
          <h1 class="f3-m code i fw6-ns white mb0 lh-title">{{ .Title | default .Site.Title }}</h1>
          {{ with .Params.description  }}
            <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
              {{ . }}
            </h2>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
